@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300&display=swap');
*{
    font-family: 'Inter', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

.parent{
    background-color: #F6F6F3;
}

#srch:focus + fieldset{
    border: 1px solid rgba(255, 165, 0,0.8);
    /* background-color: black; */
}

/* #srchPar{
    border: "1px solid gray";
} */

.menuItem{
    transition: all 0.3s ease;
    cursor: pointer;
    height:2.5rem;
    margin-top:0.1rem;
    padding-left:10px;
    border-radius: 20px;
    line-height: 2.5rem;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.1px;
    box-sizing: border-box;
}

.menuItem:hover{
    background-color: rgba(255, 165, 0,0.1);
}
.menuItem:hover > div > svg > path{
    color: rgba(255, 165, 0,1);
    stroke :rgba(255, 165, 0,1);
}


.cta{
    cursor: pointer;
}
.ctaIcon{
    transition: all 0.3s ease;
    display: inline-block;
    transform: translateX(0px);
}
.cta:hover > .ctaIcon{
    transform: translateX(2px);
}